/* Establecer el fondo como el GIF navideño */
body {
    background-color: rgb(167, 17, 17);
    background-image: url('../img/gif/backgr.gif'); /* Reemplaza con la ruta de tu GIF */
    background-size: block;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; /* Asegura que el fondo cubra toda la pantalla */
    margin: 0;
    font-family: 'Arial', sans-serif;
    z-index: -100;
}

/* Estilo de la imagen en forma de óvalo */
.oval-image {
    width: 120px; /* Puedes ajustar el tamaño de la imagen */
    height: 120px; /* Asegura que sea más alto que ancho para crear el efecto de óvalo */
    border-radius: 50%; /* Hace que la imagen sea ovalada */
    object-fit: cover; /* Asegura que la imagen se ajuste bien al contenedor */
    position: absolute;
    top: 38%; /* Ajusta para posicionar la imagen a lo largo de la pantalla */
    right: 18%; /* Alinea la imagen a la derecha */
    z-index: 100;
}

/* Texto centrado */
.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    color: #fff; /* Blanco para contraste con el fondo */
}

/* Estilo de título */
h1 {
    font-size: 3rem;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}        
  